
<title>Express ejemplo</title>
<meta charset="utf-8">
<meta name="active-menu" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
<link href="css/navbar.css" rel="stylesheet">

<script src="js/jquery-3.5.1.slim.min.js" ></script>
<script src="js/bootstrap.bundle.min.js" ></script>